@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border;
}

html {
    @apply bg-slate-800 h-screen;
}

#__next {
    @apply p-2 sm:p-4 md:p-8 flex flex-col min-h-screen;
}

button {
    user-select: none;
}

/* Can't do inline custom hover colors with Tailwind, sorry */
.brand-button:hover {
    color: var(--brandColor, #1DCDFF);
    text-shadow: 0 1px 4px #0006;
}